//Text colors
$primary: #C6AAC6;
$secondary: #E01A59;
$tertiary: #8F618F;
$quaternary: #431F43;
$separator: #402640;
$footer-badge: #331433;
$white: white;
$white-border: #E7EEF0;
$gradient-dark: #460A48;
$inputText: #181818;

//BG Colors
$bg-primary: #2C0F29;
$bg-secondary: #402640;
$bg-tertiary: #170617;

//Fonts
$font-primary: "Gotham";